<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boot.cloud.mapper.UserMapper">

    <select id="findAll" resultType="cn.boot.cloud.vo.User">
        SELECT id,username,remark from user;
    </select>


</mapper>
